body {
  background-color: powderblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 50px;
}
h2 {
  color: blue;
  border: 2px solid palevioletred;
  font-size: 300%;
  padding: 30px;
}

p {
  color: darkmagenta;
}
